<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <%- include( 'partials/head' ) %>
    </head>
    <body>
        
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
            <%- include( 'partials/header' ) %>
        </header>

        <main>
            <h3 class="banner">register</h3>
            <!-- display errors if any -->
            <% if ( locals.errors ) { %> 
                <div class="center-text">
                    <% errors.forEach( error =>  { %>
                        <div class="error-message"><%= error.message %></div>
                    <% }) %>
                </div>
            <% } %>

            <div class="login-page">
                <div class="form">
                    <form class="register-form" action="/register" method="POST">
                        <input 
                            type="text" 
                            id="name" 
                            name="name"
                            placeholder="name"
                            value="<%= typeof name != 'undefined' ? name : '' %>"
                        />

                        <input 
                            type="email" 
                            id="email" 
                            name="email"
                            placeholder="email"
                            value="<%= typeof email != 'undefined' ? email : '' %>"
                        />

                        <input 
                            type="password" 
                            id="password" 
                            name="password"
                            placeholder="password"
                            value="<%= typeof password != 'undefined' ? password : '' %>"
                        />

                        <input
                            type="password" 
                            id="password2" 
                            name="password2"
                            placeholder="confirm password"
                            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                        />

                        <button type="submit">create</button>
                        <p class="message">Already registered? <a href="/login">Sign In</a></p>
                    </form>
                </div>
            </div>

        </main>
        <%- include( 'partials/scriptIncludes' ) %>
    </body>
</html>











